//@tailwind base;
//@tailwind components;
//@tailwind utilities;
@use "./styles/globals.scss" as *;

$home-font-color: #293040;

.home{
  min-height: 100vh;
  font-family: "fugaz-one";
  background-color: $home-font-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-header{
    width: 100%;
    display:flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    @include tablet{
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    &-nav{
      width: 100%;
      max-width: 40rem;
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;

      &_banner{
        object-fit: fill;
        object-position: center;
        width: 80%;
      }

      &-links{
        width: 100%;
        display:flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between;
        

        &_item{
          font-size:0.75rem;
          padding: 0.2rem 0.8rem 0.2rem;
          border-radius: 5rem;
          &:hover{
            background-color: #FFFFFF;
            color: $home-font-color;
          }

          @include tablet{
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  &-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-games{
      align-self: center;
      display: flex;
      gap: 1rem;
      justify-content: space-around;
      flex-wrap: wrap;

      &_item{
        height: 100%;
        width: 100%;
        flex: 1 1 auto;
        object-fit: fill;

        @include tablet{
          width: 45%;
        }

        &--inactive{
          @extend .home-main-games_item;
          filter: grayscale(1)
        }
      }
    }
  }

  &-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

    @include tablet{
      padding-top: 1rem;
      padding-bottom: 2rem;
    }

    &_disclaimer{
      font-size:0.35rem;

      @include tablet{
        font-size: 0.5rem;
      }
    }
  }
}