//@tailwind base;
//@tailwind components;
//@tailwind utilities;
@use "./styles/globals.scss" as *;

$home-font-color: #293040;

.home{
  &-header{
    width: 100%;
    display:flex;
    justify-content: center;
    font-family: "fugaz-one";
    padding-top: 1rem;

    &-nav{
      width: 100%;
      max-width: 40rem;
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      &_banner{
        object-fit: fill;
        object-position: center;
        width: 80%;
      }

      &-links{
        width: 100%;
        display:flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-between;
      }
    }
  }
}